body {
  background-color: rgb(46, 43, 58);
}
.container {
  color: rgb(255, 0, 0);
  background-color: rgb(230, 154, 40);
  padding: 10px;

  margin: 10px 10px;
  padding: 10px;
  overflow: auto;
}
form {
  padding: 10px;
  margin: 10px;
  width: 100%;
  height: 100%;
  background-color: rgb(213, 224, 59);
}
